{% extends 'base.html' %}

{% block title %}
Eliminar Postagem
{% endblock %}

{% load static %}
{% block content %}

{% if user.is_authenticated and user.id == posts.author_id %}

<h1>Eliminar Postagem</h1>
<br/><br/>
<h3>Eliminar: {{ posts.post_title }}</h3>
<br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <strong>Tem a certeza que pretende eliminar?</strong><br/>
        <br/>
        <button class="btn btn-secondary">Eliminar Postagem</button>
    </form>
</div>

{% else %}
<br/>
{% include 'not_allowed_body.html' %}

{% endif %}

{% endblock content %}