{% extends 'base.html' %}

{% block title %}
{{ post.post_title }}
{% endblock %}

{% load static %}
{% block content %}
<br/>
<div xmlns="http://www.w3.org/1999/html">
    <h1>{{ post.post_title }}</h1>
    <small>By: {{ post.author.first_name }} {{ post.author.last_name }}
        {% if user.is_authenticated and user.id == post.author_id %}
            - <a href="{% url 'post-update' post.pk %}">Edit</a></small>
            <small><a href="{% url 'post-delete' post.pk %}">Delete</a></small>
        {% endif %}
    <br/>
    <p>{{ post.date_published|date:"Y-m-d h:m:s" }}</p>
    <br/>
    {{ post.post_content|safe }}
    <br/>
    <br/><br/>
    {% if images %}
        {% for image in images %}
            <img src="{{ image.image.url }}" width="500">
        {% endfor %}
    {% endif %}

    <br/><br/>
    <hr>
    <br/>
    <form action="{% url 'post-like' post.pk %}" method="POST">
        {% csrf_token %}

    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
        {% endif %}
    {% endif %}

        - {{ total_likes }} Likes

    </form>


    <br/>
    <br/>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>


    <br/><br/>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
{% if post.author.profile.profile_pic %}
                <img src="{{ post.author.profile.profile_pic.url }}" class="img-fluid rounded-start">
{% else %}
                <img src="{% static 'users/images/default-profile-pic.jpg' %}" class="img-fluid rounded-start">
{% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ post.author.first_name }}
                        {{ post.author.last_name }}
                    </h5>
                    {% if post.author.profile %}
                    <p>
                        <a href="{% url 'show_profile_page' post.author.profile.user_id %}">Profile Page</a>
                    </p>
                    <p class="card-text">
                        {{ post.author.profile.profile_description }}
                    </p>
                    {% else %}
                    <p>This user don't have profile.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock content %}