{% extends 'base.html' %}

{% block title %}
{{ group.name }}
{% endblock %}

{% load static %}
{% static '../static/css/base.css' %}
{% block content %}

<div xmlns="http://www.w3.org/1999/html">
    <h1>{{ group.name }}</h1>
    <small>Criado por: {{ group.owner.first_name }} {{ group.owner.last_name }}
        {% if user.is_authenticated and user.id == group.owner.id %}
            - <a href="{% url 'group-update' group.pk %}">Editar</a></small>
            <small><a href="{% url 'group-delete' group.pk %}">Eliminar</a></small>
        {% endif %}
    <br/>
    <p>{{ group.date_created|date:"Y-m-d h:m:s" }}</p>
    <br/>
    <br/>
    <div class="col-md-2">
        {% if group.group_picture %}
            <img src="{{ group.group_picture.url }}" class="img-fluid rounded-start">
        {% else %}
            <img src="{% static 'groups/images/default_group_pic.png' %}" class="img-fluid rounded-start">
        {% endif %}
    </div>
    <br/><br/>
    {{ group.description|safe }}
    <br/>
    <br/>

    <table class="table table-hover">
        <thead>
            <th>Função</th>
            <th>Primeiro Nome</th>
            <th>Ultimo Nome</th>
            <th>Email</th>
        </thead>
        <tbody>
            <tr>

                <td style="display:flex; align-items:center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg>    Administrador</td>
                <td>{{ group.owner.first_name }}</td>
                <td>{{ group.owner.last_name }}</td>
                <td>{{ group.owner.email }}</td>
            </tr>
            {% for user in group.users.all %}
                <tr>
                    <td style="display:flex; align-items:center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>    Membro</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <form action="{% url 'group-user' group.pk %}" method="POST">
        {% csrf_token %}

    {% if user.is_authenticated %}
        {% if entered %}
            <button type="submit", name="group_id", value="{{ group.id }}", class="btn btn-danger btn-sm">Sair</button>
        {% elif not user.id == group.owner.id %}
            <button type="submit", name="group_id", value="{{ group.id }}", class="btn btn-primary primaryButton btn-sm">Entrar</button>
        {% endif %}
    {% endif %}

         {{ total_users }} Utilizadores
    </form>

    <br/>
    <br/>
    <a href="{% url 'index_groups' %}" class="btn btn-secondary">Voltar</a>

    <br/><br/>
    <hr>
    <br/>





    <br/><br/>

    <h2>Administrador</h2>
    <br/>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                {% if group.owner.profile.profile_pic %}
                    <img src="{{ group.owner.profile.profile_pic.url }}" class="img-fluid rounded-start">
                {% else %}
                    <img src="{% static 'users/images/default-profile-pic.jpg' %}" class="img-fluid rounded-start">
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ group.owner.first_name }}
                        {{ group.owner.last_name }}
                    </h5>
                    <p>
                        <a href="{% url 'show_profile_page' group.owner.profile.user_id %}">Página de perfil</a>
                    </p>
                    <p class="card-text">
                        {{ group.owner.profile.profile_description }}
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}