{% extends 'base.html' %}

{% block title %}
Edit Group
{% endblock %}

{% load static %}
{% block content %}

{% if user.is_authenticated and user.id == group.owner.id %}

<h1>Update Group</h1>
<br/><br/>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-primary">Update</button>
    </form>
</div>

{% else %}
<br/>
Access to this page not allowed!

{% endif %}

{% endblock content %}