{% extends 'base.html' %}

{% block title %}
Mudar Password
{% endblock %}

{% load static %}
{% block content %}

<h1>Mudar Password</h1>
<br/><br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary primaryButton">Mudar Password</button>
    </form>
</div>
<br/><br/>
<ul>
    <li>A password não pode ser igual a outras informações do teu perfil.</li>
    <li>A password deve conter pelo menos 8 caracteres.</li>
    <li>A password não pode ser uma password usada noutras plataformas.</li>
    <li>A password não pode ser totalmente constituida por numeros.</li>

</ul>


{% endblock content %}