{% extends 'base.html' %}

{% block title %}
Criar Perfil
{% endblock %}

{% load static %}
{% block content %}

{% if user.is_authenticated %}

<h1>Criar Perfil</h1>
<br/><br/>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-primary primaryButton">Criar Perfil</button>
    </form>
</div>

{% else %}
<br/>
{% include '../not_allowed_body.html' %}

{% endif %}



{% endblock content %}