{% extends 'base.html' %}

{% block title %}
Editar Perfil
{% endblock %}

{% load static %}


{% block content %}

<h1>Editar Definições</h1>
<br/><br/>


<br/><br/>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary primaryButton">Guardar</button>
    </form>
</div>

<script>
    passwordSet = document.getElementById("id_password");
    passwordSet.style.visibility = "hidden";
</script>

{% endblock content %}