{% extends 'base.html' %}

{% block title %}
Editar Perfil
{% endblock %}

{% load static %}
{% block content %}

{% if user.is_authenticated and user.id == profile.user_id %}

<h1>Editar Perfil</h1>
<br/><br/>
<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary primaryButton">Editar Perfil</button>
    </form>
</div>

{% else %}
<br/>
{% include '../not_allowed_body.html' %}

{% endif %}



{% endblock content %}