{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% load static %}
{% block content %}

<h1>Login</h1>
<br/><br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Nome de Utilizador">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>

        <br/>
        <button class="btn btn-primary primaryButton">Login</button>
    </form>
</div>
<br/>
Não está registado? Registe-se <a href="{% url 'register' %}">Aqui</a>

{% endblock content %}